%h2
  My Friends

%ul
  - @users.each do |user|
    %li
      = "#{user.name} #{user.email}"
      = link_to 'Remove from friends', { :controller => 'friendships', :action => 'unassign',:id => user.id}